<a href="https://colab.research.google.com/github/abhinandansgit/python-basic-programs/blob/datatype-and-functions/practical_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input('enter 1st number '))
b=int(input('enter 2nd number'))
c=input('choose an operation from 1,2,3,4 ')
if c == '1' :
  print(a+b)
elif c== '2' :
  print(a-b)
elif c== '3' :
  print(a*b)
elif c=='4' :
  print(a/b)
else:
  print('invalid input')

enter 1st number 1
enter 2nd number2
choose an operation from 1,2,3,4 2
invalid input

In [ ]:
a = int(input('enter 1st number '))
b = int(input('enter 2nd number'))
c = input('choose an operation from 1,2,3,4 ')
if c == '1':
  print(a + b)
elif c == '2':
  print(a - b)
elif c == '3':
  print(a * b)
elif c == '4':
  print(a / b)
else:
  print('Invalid input')

16

In [ ]:
#reverse index in list
l1=[1,2,3,4,5]
print(l1)
print(l1[-1],l1[-2],l1[-3],l1[-4],l1[-5])
print(l1[-5],l1[-4],l1[-3],l1[-2],l1[-1])

[1, 2, 3, 4, 5]
5 4 3 2 1
1 2 3 4 5

In [ ]:
#bytes coversion
b=bytes(l1)
for i in b:
  print(i)

1
2
3
4
5

bytes data types represent a group of byte num. just like an array . a byte number is any integer from 0 to 255
we cant modify or edit any element in the byte type array

In [ ]:
#write a program to declare 2 different bytes and display the values..................
l2=[1,2,3,4,5]
l3=['a','b','c','d','e']
b=bytes(l2)
for i in b:
  print(i)
b=bytes(l3)
for i in b:
  print(i)

the byte array data type is similar to byte data types
the byte type array can not be modified
but byte type array can be modified

In [ ]:
#witw a program to diplay the list elements and convert to byte array

In [ ]:
#write a program to display thr list elements after converting the byte array and modify the verity
l4=[1,2,3,7]
print(l4)
b=bytearray(l4)
b[0]=10
b[1]=20
b[2]=30
b[3]=70
for i in b:
  print(i)

[1, 2, 3, 7]
10
20
30
70

list= it stores multiple types of elements.   list is an inbuilt data structure in python which is used to store disimilar data types.    list is acting as a containor where we can store seeparate values using comma and square bracket.

In [ ]:
#write a program to display the student details
sd=['Abhinandan Parhi',2201297002,7.8,]
print(sd)
for i in sd:
  print(i)

['Abhinandan Parhi', 2201297002, 7.8]
Abhinandan Parhi
2201297002
7.8

In [ ]:
#create an empty list
EL=[]
EL

[]

In [ ]:
#create a list by eval function
il=eval(input('enter the list values'))
il

enter the list values'a'

'a'

In [ ]:
#take input and print backward
l5=eval(input('enter the list values'))
print(l1[-1],l1[-2],l1[-3],l1[-4],l1[-5])

enter the list values1,2,3,4,5
5 4 3 2 1

In [ ]:
#creating list using range functon
l=list(range(10,21))
l

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#creating the list using split
msg ='abhinandan parhi'
s=msg.split()
s

['abhinandan', 'parhi']

list is maintaining the order
list holds different types of data items
duplicate elements are allowed
list is dynamic in nature
list is mutable
list elements can be accessed using positive,negetive,slice index
list cotains coplex level objects like class ,modules, operators

In [ ]:
num1= [ 20, " mathematics", 'c', True]
num1[1:3]

[' mathematics', 'c']

In [ ]:
#append method
l6=[1,2,3,4,5]
b=[6,7,8]
l6.append(b)
print(l6)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
l6=[]
for i in range(20):
  l6.append(0)
print(l6)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]